:root {
    --site-background-color: #161618;
    --site-background-color-stripe: #261C2C;
    --site-background-accent: #3B3B40;
    --site-background-light-accent: #62626a;
    --site-text-color: #fff;
    --site-text-accent: #FF88DC;
    --modrinth: #00d845
}

@media (prefers-color-scheme: light) {
    :root {
        --site-background-accent: #cdcddb;
        --site-background-color-stripe: #F9F9F9;
        --site-text-accent: #b93f95;
        --site-background-color: #fff;
        --site-text-color: #000;
        ---modrinth: #30b27c
    }
}
img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
  }
html {
    background: var(--site-background-color) repeating-linear-gradient(
            45deg,
            var(--site-background-color),
            var(--site-background-color) 20px,
            var(--site-background-color-stripe) 20px,
            var(--site-background-color-stripe) 40px
    );
    color: var(--site-text-color);
    text-align: center;
}
a {
    color: var(--site-text-accent)
}
.mod {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: var(--site-background-accent);
    border-radius: 5px;
    margin: 1em auto;
}
@media (min-width:1025px) {
    .mod {
        width: 50%;
    }
    .sidenav {
        width: 40%;
    }
}
.mod:hover {
    box-shadow: 2px 2px 2px 2px var(--site-background-light-accent);
}
.mod img {
    height: 128px;
    width: 128px;
}
.modinfo {
    display: flex;
    flex-direction: row;
    box-shadow: #62626a;
}
.modinfo > div {
    flex: 1 1 auto;
    padding: 1em;
}
.github {
    fill: #9921fe;
}
.modrinth {
    fill: var(--modrinth);
}
.curseforge {
    fill: #fc785b   
}
.modinfo > a {
    padding: 0.5em;
}
.modloader {
    margin-left: auto;

}
.modloader img {
    height: 48px;
    width: 48px;
}
.quilt {
    background-image: url("https://github.com/QuiltMC/art/blob/master/brand/64png/quilt_logo_transparent.png?raw=true");
    background-size: 100%;
    height: 48px;
    width: 48px;
}
.mod > :not(:first-child){
    border-top: var(--site-background-light-accent) 1px solid;
}

/* I hate CSS TODO: Make this better */
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 1em;
    background-color: var(--site-background-color);
    overflow-x: hidden;
    transition: all 0.5s linear;
    padding-top: 60px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.sidenav ul {
    padding: 0;
    list-style: none;
}
.sidenav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--site-text-color);
    transition: all 0.5s linear;
}
.sidenav ul li a:hover {
    color: var(--site-text-accent);
    background-color: var(--site-background-light-accent);
}

#kofi {
    align-self: flex-end;
}

@media screen and (max-width: 600px) {
    .sidenav {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}