---
interface Props {
    name: string;
    images: string[];
    descriptions: string[];
}
const { name, images, descriptions } = Astro.props;
// TODO: Make my own image carousel so it doesn't use DaisyUI
---
<div>
    <div id={name}>

    </div>
</div>

