---
interface Props {
    url: string;
    key: "description" | "versions";
}
const { url, key } = Astro.props;
const versionUrl = `${url}/versions`;
function getClassName(selected: "description" | "versions") {
    return (selected === key ? "border-purple-500" : "border-transparent") + " border p-3 border-t-0 border-l-0 border-r-0 border-b-2";
}
---

<div class="flex-row min-h-fit mb-4">
    <a href={url} class={getClassName("description")}>
        Description
    </a>
    <a href={versionUrl} class={getClassName("versions")}>
        Versions
    </a>
</div>